@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

select,input,textarea{
  border:1px solid #2c2c22;
  outline-color: #a37e91;
  border-radius: 4px;
}
.active{
  background-color: #e0f0ff;
  border: 1px solid #8eb0cb;
}

